@import './base.css';
.header{
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 0;
}
.header .logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header .logo img{
    width: 35px;
}
.header .nav a{
   color:#101928;
}

.nav ul{
    display: flex;
    gap: 16px;
}
.header .auth a{
    font-family: var(--subfont);
    padding: 10px 30px;
}
.header .auth a:first-of-type{
    border: 1px solid var(--maincolor);
    color: var(--maincolor);
}
.header .auth a:last-of-type{
    background: var(--maincolor);
    color: #fff;
} 
/*end header*/
/*start home*/
.home{
    margin-top: 10px;
    height: 450x;
    background-color: #F5F5F5;
}
.home .home-left span{
    color:#545BE8;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 9px;
    text-align: left;
}
.home .home-left span span{
    font-weight: bold;
}

.home .home-left h1{
width: 230px;
height: 120px;
font-family: var(--mainfont);
line-height: 50px;
text-align: left;
}
.home .home-left h1 span{
color:#545BE8;
font-size: larger;
font-weight: bold;
font-family: var(--mainfont);
}
.home .home-left p{ 
width: 230px;
margin-top: 20px;
font-family: var(--mainfont);
width: 350px;
font-size: 10px;
color: #969696; 
}
.home .home-left .Register-watch{
display: flex;
margin-top: 10px;
align-items: center;
    
}
.home .home-left .Register-watch a{
font-family: var(--subfont);
padding: 10px 30px;
align-items: center;


}
.home .home-left .Register-watch a:first-of-type{
    border: 1px solid var(--maincolor);
    background-color: var(--maincolor);
    border-radius: 5px;
    color: #fff;
}


.home .home-left .Register-watch a:last-of-type{
    font-weight: 700;
    display: flex;
}

.home .home-left,
.home .home-right{
    width: calc(100% - 60px / 2);
}
.home .home-right img{
    height: 400px;
    width: 400px;
}
/*end home*/
/*start Forms*/
.forms{
  padding: 50px 0;
  background-color: #F5F5F5;

}
.part1{
  border: var(--maincolor) solid 1px;
  padding: 40px 15px;
  background-color: var(--maincolor);
border-radius: 10px;
margin-left: 8px;
}
.talk{
font-size: larger;
font-weight: bold;
}
.give{
    color: var(--maincolor);
}
.lorem{

font-size: 10px;
line-height: 10px;
text-align: left;
 
color: #969696;
}
.part1 img{
width: 40PX;
height: 40PX;
border-radius: 50%;
background-color:white;
align-items: center;

}

.prof p{
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
}
.det{

  color: #DDDDDD;
}
.operator{
  margin-left: 1200px;
  padding-left: 50px;
}
/*End Forms */
/*start talking course */
.talking{
    background-color: var(--maincolor);
  }
  .selected{
    margin-top: 20px;
    color: #F0C932;
  }
  .talking .photo{
  margin-left: 50px;
  }
  
  .talkingabout{
    font-size: 40px;
    font-weight: bold;
    color: white
  
  }
  .begin-start1 p{
  color: #DDDDDD;
  }
  .begin-start1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   margin-bottom: 100px;
    margin-right: 150px;
  }
  
  
  .begin-start1 .numbers{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  
  
  }
  
  .numbers .number{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding:50px;
    color:#fff;
  }
/*end talking course */
/*start course */
.courses{
    padding: 40px 0;
   }
   .courses .row{
   gap:20px;
   align-items: flex-start;
   
   }
   .course-items{
     display: flex;
     flex-wrap: wrap;
     width: calc( (100% - 30px) / 2 );
     gap: 20px;
   }
   .course{
     width: calc( (100% - 20px) / 2 );
     box-shadow: 0px 7.437575340270996px 7.437575340270996px rgba(0, 0, 0, 0.05);
   
   
   }
   .course-card{
     position: relative;
   }
   .course-description{
     width: calc( (100% - 20px) / 3 );
   
   }
   .course-card img{
     width: 100%;
     filter: brightness(60%);
   }
   .course-info{
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     display: flex;
     align-items: flex-start;
     justify-content: space-between;
     padding: 20px;
     color: #fff;
     
   }
   .course-info span:first-of-type{
   background-color: var(--maincolor);
   padding: 10px;

   }
   
   .course-info span:last-of-type{
   font-size: 10px;
   align-self: flex-end;
   font-weight: bold;
   }
   .course-details .detailone{
     color: var(--maincolor);
     font-size: 10px;
   }
   .course-details .detailtwo{
     color: #969696;
     font-size: 10px;
     font-weight: normal;
   }
   .course-description{
     display: flex;
     flex-direction: column;
     align-self: flex-start;
     gap:20px;
   
   }
   .course-description span{
     color: var(--maincolor);
   }
   .course-description h2{
     font-weight: 800;
   }
   .course-description a{
     height:40px;
     width: 100px;
     color: #fff;
     border: 1px solid var(--maincolor);
     padding: 8px;
     background-color: var(--maincolor);
     border-radius: 5px;
     text-align: center;
   
   }
/*end course   
/*start  testimonials*/
.testimonials{
 text-align: center;
 padding: 80px 0;
}
.testimonials h2{
    margin-bottom: 20px;
}

.testimonials .row{
    gap: 40px;
 
}
.testimonial .user-info{
    display: flex;
    gap:8px
}


.testimonial{
    display: flex;
    flex-direction: column;
    gap: 10px;
   width: calc(100% - 40px /2);
   box-shadow: 0px 6.336584091186523px 6.336584091186523px rgba(0, 0, 0, 0.1);
   padding: 20px;
   position: relative;
  
}
.testimonial:after{
content: '';
border-top:30px solid #898888 ;
border-bottom:30px solid transparent;
border-left:30px solid transparent ;
position: absolute;
top: 0;
right: 0;

}
.testimonial .user-info img{
    width:50px;
    height: 50px;
}
.testimonial .user-info .user-data{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
    align-items: flex-start;
}
.testimonial .user-info .user-data span{
    font-size: 12px;
    color:#969696;
}
.testimonial .rating{
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}
.testimonial .rating blockquote p{
    color: #646464;
    display: inline-block;
    padding: 0 20px;
}

/*start  footer*/
.footer{
    background-color:#393E46 ;
    color: #fff;
    padding: 50px 0;
}
.footer .row{
    gap: 40px;
}
.footer a{
    color: #fff;
}

.footer .footer-left,
.footer .footer-right{
    width: calc(100% - 40px / 2);
}
.footer-left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}
.footer .footer-left .logo {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}
.footer .footer-left .logo img {
    width: 35px;
}
.footer .footer-left .logo a{
    font-size: 14px;
}
.footer .footer-left  p{
    color: #F4F4F4;
    line-height: 20px;
    font-size: 14px;
    font-weight: 200;
}
.footer .footer-left .icons{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.footer .footer-left .icons img{
    border:1px solid #fff ;
    padding: 10px;
    width: 15px;
    height: 15px ;
    box-sizing: content-box;
}
.footer .footer-right .row{
    align-items: flex-start;
}
.footer .footer-right  .footer-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}
.footer .footer-right  .footer-item ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}
