@import './base.css';
.header{
    position: sticky;
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 0;
}
.header .logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header .logo img{
    width: 35px;
}
.header .nav a{
   color:#101928;
}

.nav ul{
    display: flex;
    gap: 16px;
}
.header .auth a{
    font-family: var(--subfont);
    padding: 10px 30px;
}
.header .auth a:first-of-type{
    border: 1px solid var(--maincolor);
    color: var(--maincolor);
}
.header .auth a:last-of-type{
    background: var(--maincolor);
    color: #fff;
}
/*end header*/
/*start  testimonials*/
.testimonials{
 text-align: center;
 padding: 80px 0;
}
.testimonials h2{
    margin-bottom: 20px;
}

.testimonials .row{
    gap: 40px;
 
}
.testimonial .user-info{
    display: flex;
    gap:8px
}


.testimonial{
    display: flex;
    flex-direction: column;
    gap: 10px;
   width: calc(100% - 40px /2);
   box-shadow: 0px 6.336584091186523px 6.336584091186523px rgba(0, 0, 0, 0.1);
   padding: 20px;
   position: relative;
  
}
.testimonial:after{
content: '';
border-top:30px solid #898888 ;
border-bottom:30px solid transparent;
border-left:30px solid transparent ;
position: absolute;
top: 0;
right: 0;

}
.testimonial .user-info img{
    width:50px;
    height: 50px;
}
.testimonial .user-info .user-data{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
    align-items: flex-start;
}
.testimonial .user-info .user-data span{
    font-size: 12px;
    color:#969696;
}
.testimonial .rating{
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}
.testimonial .rating blockquote p{
    color: #646464;
    display: inline-block;
    padding: 0 20px;
}

/*start  footer*/
.footer{
    background-color:#393E46 ;
    color: #fff;
    padding: 50px 0;
}
.footer .row{
    gap: 40px;
}
.footer a{
    color: #fff;
}

.footer .footer-left,
.footer .footer-right{
    width: calc(100% - 40px / 2);
}
.footer-left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}
.footer .footer-left .logo {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}
.footer .footer-left .logo img {
    width: 35px;
}
.footer .footer-left .logo a{
    font-size: 14px;
}
.footer .footer-left  p{
    color: #F4F4F4;
    line-height: 20px;
    font-size: 14px;
    font-weight: 200;
}
.footer .footer-left .icons{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.footer .footer-left .icons img{
    border:1px solid #fff ;
    padding: 10px;
    width: 15px;
    height: 15px ;
    box-sizing: content-box;
}
.footer .footer-right .row{
    align-items: flex-start;
}
.footer .footer-right  .footer-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}
.footer .footer-right  .footer-item ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}
